@page "/MessageWall"

<PageTitle>Custom Message Wall</PageTitle>

<h3>Message Wall</h3>
<EditForm Model="model" OnValidSubmit="ValidSubmission">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <label for="message" class="form-label">@nameof(model.Message)</label>
    <InputText id="message" @bind-Value="model.Message" class="form-control" />

    <button class="btn-primary" type="submit">Submit</button>
</EditForm>

<ul>
    @foreach (string message in Messages)
    {
        <li>@message</li>
    }
</ul>

@code {
    private MessageModel model = new();
    private List<string> Messages = new();

    private void ValidSubmission()
    {
        Messages.Add(model.Message);
        model = new();
    }
}
